.primary-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 160px;
  height: 50px;

  padding: 0 24px;

  border: none;
  border-radius: 8px;

  background: #44A1A3;
  color: #fff;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  transition: all 0.3s ease;

  &:hover {
    background: #44A1A3;
  }
}

/* Small Button */
.primary-btn-sm {
  height: 40px;
  min-width: 120px;
  font-size: 14px;
}

/* Large Button */
.primary-btn-lg {
  height: 58px;
  min-width: 220px;
  font-size: 18px;
}