<!-- <div class="cart-page">

  <div class="success-bar">
    “Pregnancy Non-Invasive Prenatal NIPT Test Cost”
    has been added to your cart.
  </div>

  <div class="checkout-steps">

    <div class="step active">
      <div class="circle">1</div>
      <p>Shopping Cart</p>
    </div>

    <div class="line"></div>

    <div class="step">
      <div class="circle">2</div>
      <p>Shipping and Checkout</p>
    </div>

    <div class="line"></div>

    <div class="step">
      <div class="circle">3</div>
      <p>Confirmation</p>
    </div>

  </div>

  <div class="cart-layout">

    <div class="cart-left">

      <div class="cart-item">

        <img
          src="assets/test.jpg"
          alt=""
        />

        <div class="item-info">
          <h3>Paternity DNA Test</h3>
        </div>

        <div class="qty-box">
          <button>-</button>
          <span>1</span>
          <button>+</button>
        </div>

        <div class="price">
          ₹13,000
        </div>

      </div>

      <div class="cart-item">

        <img
          src="assets/test2.jpg"
          alt=""
        />

        <div class="item-info">
          <h3>Pregnancy Non-Invasive Prenatal NIPT Test Cost</h3>
        </div>

        <div class="qty-box">
          <button>-</button>
          <span>1</span>
          <button>+</button>
        </div>

        <div class="price">
          ₹10,000
        </div>

      </div>

      <div class="coupon-row">

        <input
          type="text"
          placeholder="Coupon code"
        />

        <button class="coupon-btn">
          Apply coupon
        </button>

      </div>

    </div>

    <div class="cart-right">

      <div class="summary-box">

        <div class="summary-row">
          <span>Subtotal</span>
          <strong>₹23,000</strong>
        </div>

        <hr />

        <h4>Shipment</h4>

        <label>
          <input type="radio" />
          Free Home Sample Collection
        </label>

        <label>
          <input type="radio" checked />
          Sample Collection at Lab
        </label>

        <label>
          <input type="radio" />
          Sample Collection at Another Lab
        </label>

        <button routerLink="/checkout">
          Proceed to Checkout
        </button>

      </div>

    </div>

  </div>

</div> -->