<div class="container">
  <!-- Header -->
  <div class="section-header">
    <h1 class="section-title">Testimonials from satisfied customers who have used our DNA Tests</h1>
    <p class="section-description">
     Read the stories of customers who took the Genetic DNA Test and discover transformative experiences at DNA Labs India. Explore the precise, reliable, and calming qualities of this exceptional test, helping you make well-informed decisions.
    </p>
     <p class="section-description">Coming Soon</p>
  </div>
</div>