<div class="mobile-header">

  <div class="container">

    <div class="mobile-top">

      <button
        class="menu-btn"
        (click)="openSidebar()"
      >
        ☰
      </button>

      <div class="mobile-logo">
        <img
          src="assets/logo4.png"
          alt="logo"
        />
      </div>

      <button class="cart-btn" routerLink="/cart">
        🛒
      </button>

    </div>

    <div class="mobile-search">
      <app-search-bar />
    </div>

  </div>

</div>

<app-mobile-sidebar
  ngSkipHydration
  [isOpen]="isSidebarOpen()"
  (closeSidebar)="closeSidebar()"
></app-mobile-sidebar>