<!-- <div class="mobile-header">

  <div class="container">

    <div class="mobile-top">

      <button
        class="menu-btn"
        (click)="openSidebar()"
      >
        ☰
      </button>

      <div class="mobile-logo">
        <img
          src="assets/logo4.png"
          alt="logo"
        />
      </div>

      <button class="cart-btn" routerLink="/cart">
        🛒
      </button>

    </div>

    <div class="mobile-search">
      <app-search-bar />
    </div>

  </div>

</div>

<app-mobile-sidebar
  ngSkipHydration
  [isOpen]="isSidebarOpen()"
  (closeSidebar)="closeSidebar()"
></app-mobile-sidebar> -->




<!-- TOP SEARCH HEADER -->

<div class="mobile-top-search">

  <div class="search-wrapper">

    <div class="search-box">
      <app-search-bar />
    </div>

  </div>

</div>

<!-- SIDEBAR -->

<app-mobile-sidebar
  ngSkipHydration
  [isOpen]="isSidebarOpen()"
  (closeSidebar)="closeSidebar()"
>
</app-mobile-sidebar>

<!-- BOTTOM NAVIGATION -->

<nav class="mobile-bottom-nav">

  <!-- MENU -->
  <a
    class="nav-item"
    (click)="toggleSidebar()"
  >
    <span class="icon">☰</span>
    <span class="label">Menu</span>
  </a>

  <!-- TEST -->
  <a class="nav-item" routerLink="/tests">
    <span class="icon">🧬</span>
    <span class="label">Tests</span>
  </a>

  <!-- CENTER LOGO -->
  <a class="center-logo" >

    <img
      src="assets/logo-mobile.png"
      alt="logo"
    />

  </a>

  <!-- REPORT -->
  <a class="nav-item">
    <span class="icon">📄</span>
    <span class="label">Reports</span>
  </a>

 <a
  class="nav-item whatsapp-nav"
  (click)="openWhatsAppChat()"
>
  <span class="icon">
    <i class="bi bi-whatsapp"></i>
  </span>

  <span class="label">
    WhatsApp
  </span>
</a><app-floating-chat></app-floating-chat>
</nav>