@if (isOpen()) {

  <div
    class="sidebar-overlay"
    (click)="closeSidebar.emit()"
  ></div>

}

<div
  class="mobile-sidebar"
  [class.open]="isOpen()"
>

  <div class="sidebar-header">

    <h3>Menu</h3>

    <button
      class="close-btn"
      (click)="closeSidebar.emit()"
    >
      ✕
    </button>

  </div>

  <ul class="sidebar-links">

    <li routerLink="/" >Home</li>

    <li routerLink="/about" >About</li>

    <li routerLink="/tests" >Test List</li>

    <li routerLink="/blog">Blog</li>

    <li routerLink="/contact-us"> Contact</li>

  </ul>

</div>