.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  background: #1f1f1f;
  padding: 12px 0;
  color: white;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  gap: 35px;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  gap: 32px;
  flex-shrink: 0;
}

.nav-link {
  position: relative;
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  white-space: nowrap;
  transition: color 0.3s ease;
  padding-bottom: 4px;
}

/* Smooth hover color */
.nav-link:hover {
  color: #f59e0b;
}

/* Underline Animation */
.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #f59e0b;
  transition: width 0.3s ease;
}

/* Hover underline */
.nav-link:hover::after {
  width: 100%;
}

/* Active route */
.nav-link.active {
  color: #44A1A3;
;
}

.nav-link.active::after {
  width: 100%;
}

.cart {
  background: #44A1A3;

  color: #1f1f1f;
  padding: 6px 14px;
  border-radius: 4px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14.5px;
  flex-shrink: 0;

  .cart-icon {
    position: relative;
    font-size: 20px;

    .count {
      position: absolute;
      top: -6px;
      right: -6px;
      background: #1f1f1f;
      color: white;
      font-size: 11px;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (max-width: 991px) {
  .navbar { display: none; }
}