<nav class="navbar">
  <div class="container nav-wrapper">

    <div class="nav-links">
<a
  routerLink="/"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }"
  class="nav-link">
  Home
</a>
<a
  routerLink="/about"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }"
  class="nav-link">
  About
</a>
<a
  routerLink="/tests"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }"
  class="nav-link">
  Test List
</a>

      <a routerLink="/blog" routerLinkActive="active" class="nav-link">
        Blog
      </a>

      <a routerLink="/contact-us" routerLinkActive="active" class="nav-link">
        Contact Us
      </a>

    </div>

    <div class="cart">
      <span class="price">₹0</span>

      <span class="cart-icon">
        🛒
        <span class="count">0</span>
      </span>
    </div>

  </div>
</nav>