<div class="search-wrapper">

<div class="search-bar">

  <i class="bi bi-search search-icon"></i>

  <input
    type="text"
    placeholder="Search DNA tests..."
    [(ngModel)]="searchText"
    (input)="onSearch()"
  />

</div>

  @if (results.length > 0) {

    <div class="search-dropdown">

      @for (item of results; track item.id) {

        <div class="search-item">

          <img [src]="item.image" alt="" />

          <div class="info">
            <h4>{{ item.title }}</h4>

            <div class="price">
              ₹{{ item.price }}
            </div>

            <span>{{ item.category }}</span>
          </div>

        </div>

      }

    </div>

  }

</div>