.container {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
}

h2{
    font-family: 'Poppins',sans-serif;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -0.5px;
    line-height: 1.25;
    text-transform: none;
    color: #111;
}

@media (max-width: 1024px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 18px;
    padding-right: 18px;
  }
}