<div class="skeleton-card">

  <!-- IMAGE -->
  <div class="skeleton-image shimmer"></div>

  <div class="skeleton-content">

    <!-- CATEGORY -->
    <div class="skeleton-category shimmer"></div>

    <!-- TITLE -->
    <div class="skeleton-title shimmer"></div>
    <div class="skeleton-title short shimmer"></div>

    <!-- PRICE -->
    <div class="skeleton-price-row">

      <div class="skeleton-old-price shimmer"></div>

      <div class="skeleton-new-price shimmer"></div>

    </div>

    <!-- BUTTON -->
    <div class="skeleton-button shimmer"></div>

  </div>

</div>