<section class="hero-section">
  <div class="hero-container">

    <div class="hero-content">

      <h1 class="hero-title">
        India No1 Diagostics
        <br>
        DNA Test Lab
      </h1>

       <p class="hero-description">
        With a network of 10 branches and 960 sample collection centers,
        we test over 5000 samples daily
      </p>

      <button class="primary-btn">
        Test List
      </button>

      <p class="hero-note">
        Get Tested at India No1 Genetic DNA Test Lab, DNA Labs India
      </p>

    </div>

    <div class="hero-image">
      <img
        src="https://dnalabsindia.com/storage/2025/05/bg-india1.webp"
        alt="DNA Labs India"
      />
    </div>

  </div>
</section>