<!-- <section class="hero-section">
  <div class="hero-container">

    <div class="hero-content">

      <h1 class="hero-title">
        India No1 Diagostics
        <br>
        DNA Test Lab
      </h1>

       <p class="hero-description">
        With a network of 10 branches and 960 sample collection centers,
        we test over 5000 samples daily
      </p>

      <button class="primary-btn">
        Test List
      </button>

      <p class="hero-note">
        Get Tested at India No1 Genetic DNA Test Lab, DNA Labs India
      </p>

    </div>

    <div class="hero-image">
      <img
        src="assets/doctor2.png" 
        alt="DNA Labs India"
      />
    </div>

  </div>
</section> -->



<section class="hero-banner">

  <div class="slides-container">

     <div
      class="slide"
      [class.active]="currentSlide === 0"
    >

      <picture>

        <!-- MOBILE -->
        <source
          media="(max-width: 768px)"
          srcset="assets/slider2.png"
        >

        <!-- DESKTOP -->
        <source
          media="(min-width: 769px)"
          srcset="assets/slider1-desktop.png"
        >

        <img
          src="assets/slider1-desktop.png"
          class="slide-bg"
          alt="banner"
        >

      </picture>

      <div class="overlay"></div>

      <div class="container">

        <div class="content animate">

          <!-- <span class="top-tag">
            India’s Trusted Diagnostic Center
          </span> -->

          <h1>
           India’s Trusted 
            <span class="highlight">
              Diagnostic Center
            </span>
          </h1>

          <!-- <p>
            Accurate reports, modern technology and trusted diagnostics
            with thousands of samples tested every day.
          </p> -->

          <div class="hero-buttons">

            <button class="primary-btn">
              Book Test
            </button>

            <button class="secondary-btn">
              View Packages
            </button>

          </div>

        </div>

      </div>

    </div>

    <!-- SLIDE 1 -->
    <div
      class="slide"
      [class.active]="currentSlide === 1"
    >

      <picture>

        <!-- MOBILE -->
        <source
          media="(max-width: 768px)"
          srcset="assets/mobilebanner.png"
        >

        <!-- DESKTOP -->
        <source
          media="(min-width: 769px)"
          srcset="assets/banner-primium.png"
        >

        <img
          src="assets/banner-primium.png"
          class="slide-bg"
          alt="banner"
        >

      </picture>

      <div class="overlay"></div>

      <div class="container">

        <div class="content animate">

          <span class="top-tag">
            India’s Trusted Diagnostic Center
          </span>

          <h1>
            Advanced DNA & Pathology
            <span class="highlight">
              Testing Laboratory
            </span>
          </h1>

          <p>
            Accurate reports, modern technology and trusted diagnostics
            with thousands of samples tested every day.
          </p>

          <div class="hero-buttons">

            <button class="primary-btn">
              Book Test
            </button>

            <button class="secondary-btn">
              View Packages
            </button>

          </div>

        </div>

      </div>

    </div>

    
    <!-- SLIDE 2 -->
    <div
      class="slide"
      [class.active]="currentSlide === 2"
    >

      <picture>

        <!-- MOBILE -->
        <source
          media="(max-width: 768px)"
          srcset="assets/mobilebanner1.png"
        >

        <!-- DESKTOP -->
        <source
          media="(min-width: 769px)"
          srcset="assets/banner-premium2.png"
        >

        <img
          src="assets/banner-premium2.png"
          class="slide-bg"
          alt="banner"
        >

      </picture>

      <div class="overlay"></div>

      <div class="container">

        <div class="content animate">

          <span class="top-tag">
            India’s Trusted Diagnostic Center
          </span>

          <h1>
            Advanced
            <span class="highlight">
              Genomic Solutions
            </span>
          </h1>

          <p>
            Molecular Diagnosis & Precision Medicine
          </p>

          <div class="hero-buttons">

            <button class="primary-btn">
              Book Test
            </button>

            <button class="secondary-btn">
              View Packages
            </button>

          </div>

        </div>

      </div>

    </div>

    <!-- SLIDE 3 -->
    <div
      class="slide"
      [class.active]="currentSlide === 3"
    >

      <picture>

        <!-- MOBILE -->
        <source
          media="(max-width: 768px)"
          srcset="assets/mobilebanner3.png"
        >

        <!-- DESKTOP -->
        <source
          media="(min-width: 769px)"
          srcset="assets/pathology-slider3.png"
        >

        <img
          src="assets/pathology-slider3.png"
          class="slide-bg"
          alt="banner"
        >

      </picture>

      <div class="overlay"></div>

      <div class="container">

        <div class="content animate">

          <span class="top-tag">
            India’s Trusted Diagnostic Center
          </span>

          <h1>
            Personalized
            <span class="highlight">
              Care & Counseling
            </span>
          </h1>

          <p>
            Start Your Genomics Journey
          </p>

          <div class="hero-buttons">

            <button class="primary-btn">
              Book Test
            </button>

            <button class="secondary-btn">
              View Packages
            </button>

          </div>

        </div>

      </div>

    </div>

    <!-- SLIDE 4 -->
    <div
      class="slide"
      [class.active]="currentSlide === 4"
    >

      <picture>

        <!-- MOBILE -->
        <source
          media="(max-width: 768px)"
          srcset="assets/mobilebanner2.png"
        >

        <!-- DESKTOP -->
        <source
          media="(min-width: 769px)"
          srcset="assets/pathology-slider4.png"
        >

        <img
          src="assets/pathology-slider4.png"
          class="slide-bg"
          alt="banner"
        >

      </picture>

      <div class="overlay"></div>

      <div class="container">

        <div class="content animate">

          <span class="top-tag">
            India’s Trusted Diagnostic Center
          </span>

          <h1>
            <span class="highlight">
              Global Standard
            </span>
            Lab Services
          </h1>

          <p>
            NABL Accredited Facility in India
          </p>

          <div class="hero-buttons">

            <button class="primary-btn">
              Book Test
            </button>

            <button class="secondary-btn">
              View Packages
            </button>

          </div>

        </div>

      </div>

    </div>

  </div>

  <!-- DOTS -->
  <div class="dots">

    <span
      class="dot"
      *ngFor="let n of [0,1,2,3]; let i = index"
      [class.active]="currentSlide === i"
      (click)="goToSlide(i)"
    >
    </span>

  </div>

</section>